<!-- edit header ejs to toggle to brand only after login -->
<% include ./partials/header.ejs %>
 <%include createLoop.ejs%>
<p>PRESENT page (html for loop with render function (ie tunely) for all triggered loops)
Display user feed:
db.loops.find();
for loop through...
render and append.<p>


<!-- eventually sort loops to display triggered only -->

<%loops.forEach(function(loop) {%>

 


 
         <!-- one loop -->
         <!-- figure out how to get the id to become the loop.id -->
          <div class='row loop' id=<%=loop._id%>>
            <div class='col-md-10 col-md-offset-1'>
              <div class='panel panel-default'>
                <div class='panel-body'>
                <div id = "delete-<%=loop.id%>">X delete</div>
                <!-- begin loop internal row -->
                  <div class='row'>
                    <div class='col-md-3 col-xs-12 thumbnail loop-art'> 
                       <img src='" + "http://placehold.it/400x400'  alt='loop image'>
                    </div>
                    <div class='col-md-9 col-xs-12'>
                      <ul class='list-group'>
                        <li class='list-group-item'>
                          <h4 class='inline-header'>Loop Date:</h4>
                          <span class='album-name'> <%=loop.date%> </span>
                        </li>
                        <li class='list-group-item'>
                          <h4 class='inline-header'>Loop Time:</h4> 
                          <span class='artist-name'> <%= loop.time%> </span>
                        </li>
                        <li class='list-group-item'>
                          <h4 class='inline-header'>Loop message:</h4> 
                          <span class='album-releaseDate'><%=loop.message%></span>
                        </li>
                      </ul>
                   </div>
                  </div>
                  <!-- end of loop internal row -->

                </div> 
                <!-- end of panel-body -->

                <div class='panel-footer'>
                </div>

              </div>
            </div>
            <!-- end one loop -->






<%});%>
<div class = "loops">
</div>
<!-- edit footer to toggle to icon link to future page after login -->
<script>
$('#delete-' + loop.id),onClick(function(event){
  console.log(loop.id);
});
  </script>
<% include ./partials/footer.ejs %>
